@page "/"
@using pic__simulator__lehmann.Models
@using System.Xml.Linq
@using System.ComponentModel.Design
@inject ILogger<Programm> logger;

    <link href="Index.style.css" rel="stylesheet" />

<PageTitle>Index</PageTitle>

<h1>Willkommen beim PIC16 Simulator!</h1>

<button class="btn btn-primary" @onclick="StartSimulation">Start Programm!</button>
<p><input @bind="_interval" /> s</p>
 @if (_geladenesProgramm != null)
 {
    <table>
        <thead>
             <tr>
             <th>ID</th>
             <th>Breakpoints</th>
             <th>Befehle</th>
             </tr>
         </thead>
         <tbody>
         @foreach (var programmzeile in _geladenesProgramm._programm)
         {
                <tr>
                    <td>@IncrementLineCounter()</td>
                 <td></td>
                 <td>@programmzeile</td>
             </tr>
         }
         </tbody>
     </table>
 }
 else
 {
     <h2>Noch kein Programm geladen</h2>
 }


<div class="IO">
	<h3>Ports</h3>
	<table>
		<thead>
			<tr>
				<th>Port A</th>
				<th></th>
				<th>Port B</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>RA0</td>
				<td><input type="checkbox" @bind="@portA[0]" /></td>
				<td>RB0</td>
				<td><input type="checkbox" @bind="@portB[0]" /></td>
			</tr>
			<tr>
				<td>RA1</td>
				<td><input type="checkbox" @bind="@portA[1]" /></td>
				<td>RB1</td>
				<td><input type="checkbox" @bind="@portB[1]" /></td>
			</tr>
			<tr>
				<td>RA2</td>
				<td><input type="checkbox" @bind="@portA[2]" /></td>
				<td>RB2</td>
				<td><input type="checkbox" @bind="@portB[2]" /></td>
			</tr>
			<tr>
				<td>RA3</td>
				<td><input type="checkbox" @bind="@portA[3]" /></td>
				<td>RB3</td>
				<td><input type="checkbox" @bind="@portB[3]" /></td>
			</tr>
			<tr>
				<td>RA4</td>
				<td><input type="checkbox" @bind="@portA[4]" /></td>
				<td>RB4</td>
				<td><input type="checkbox" @bind="@portB[4]" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" @bind="@portA[5]" /></td>
				<td>RB5</td>
				<td><input type="checkbox" @bind="@portB[5]" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" @bind="@portA[6]" /></td>
				<td>RB6</td>
				<td><input type="checkbox" @bind="@portB[6]" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" @bind="@portA[7]" /></td>
				<td>RB7</td>
				<td><input type="checkbox" @bind="@portB[7]" /></td>
			</tr>
		</tbody>
	</table>
</div>


<table class="ram">
	<thead>
		<tr>  
		</tr>
	</thead>
	<tbody>
		@for(int row = 0; row < 16; row++){
		<tr>
			@for(int column = 0; column < 8; column++){
				ram[column, row] = 0;
			<td>@ram[column, row ]</td>
			}
		</tr>
		}
	</tbody>
</table>

@code
{
	private int _interval = 5;
	int lineCounter;
	private Programm? _geladenesProgramm;
	private bool[] portA = new bool[] { false, false, false, false, false, false, false, false };
	private bool[] portB = new bool[] { false, false, false, false, false, false, false, false };

	private int[,] ram = new int[8,16];

    private void StartSimulation()
    {
        lineCounter = 0;
        _geladenesProgramm = new Programm(_interval,logger);

    }

    private int IncrementLineCounter()
    {
        lineCounter++;
        return lineCounter;
    }

}
