@using System.Collections
@using pic__simulator__lehmann.Models
@inherits Component

<div class="IO">
	<h3>Ports</h3>

	<div class="ports">
		<div class="row">
			<div class="col">

		@*PortA = 05h*@
		<table id="portA">
			<thead>
				<tr>
					<th>Port A</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>RA0</td>
					<td><input type="checkbox" checked="@getPortBit(0, addressPortA)" @onchange="eventArgs => { changeRamPorts(0, addressPortA, eventArgs.Value);}"/></td>
				</tr>
				<tr>
					<td>RA1</td>
					<td><input type="checkbox" checked="@getPortBit(1, addressPortA)" @onchange="eventArgs => { changeRamPorts(1, addressPortA, eventArgs.Value);}"/></td>
				</tr>
				<tr>
					<td>RA2</td>
					<td><input type="checkbox" checked="@getPortBit(2, addressPortA)" @onchange="eventArgs => { changeRamPorts(2, addressPortA, eventArgs.Value);}"/></td>
				</tr>
				<tr>
					<td>RA3</td>
					<td><input type="checkbox" checked="@getPortBit(3, addressPortA)" @onchange="eventArgs => { changeRamPorts(3, addressPortA, eventArgs.Value);}"/></td>
				</tr>
				<tr>
					<td>RA4</td>
					<td><input type="checkbox" checked="@getPortBit(4, addressPortA)" @onchange="eventArgs => { changeRamPorts(4, addressPortA, eventArgs.Value);}"/></td>
				</tr>
			</tbody>
		</table>


		</div>
		<div class="col">


		@*TrisA = 85h*@
		<table id="trisA">
			<thead>
				<tr>
					<th>Tris A</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td><input type="checkbox" checked="@getPortBit(0, addressTrisA)" onclick="return false;" onkeydown="return false;"/></td>
				</tr>
				<tr>
					<td>1</td>
					<td><input type="checkbox" checked="@getPortBit(1, addressTrisA)" onclick="return false;" onkeydown="return false;"/></td>
				</tr>
				<tr>
					<td>2</td>
					<td><input type="checkbox" checked="@getPortBit(2, addressTrisA)" onclick="return false;" onkeydown="return false;"/></td>
				</tr>
				<tr>
					<td>3</td>
					<td><input type="checkbox" checked="@getPortBit(3, addressTrisA)" onclick="return false;" onkeydown="return false;"/></td>
				</tr>
				<tr>
					<td>4</td>
					<td><input type="checkbox" value="@getPortBit(4, addressTrisA)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
			</tbody>
		</table>

		</div>
		</div>

		<div class="row">
			<div class="col">

		
		@*PortB = 06h*@
		<table id="portB">
			<thead>
				<tr>
					<th>Port B</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>RB0</td>
					<td><input type="checkbox" checked="@getPortBit(0, addressPortB)" @onchange="eventArgs => { changeRamPorts(0, addressPortB, eventArgs.Value);}"/></td>
				</tr>
				<tr>
					<td>RB1</td>
					<td><input type="checkbox" checked="@getPortBit(1, addressPortB)" @onchange="eventArgs => { changeRamPorts(0, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB2</td>
					<td><input type="checkbox" checked="@getPortBit(2, addressPortB)" @onchange="eventArgs => { changeRamPorts(1, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB3</td>
					<td><input type="checkbox" checked="@getPortBit(3, addressPortB)" @onchange="eventArgs => { changeRamPorts(2, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB4</td>
					<td><input type="checkbox" checked="@getPortBit(4, addressPortB)" @onchange="eventArgs => { changeRamPorts(3, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB5</td>
					<td><input type="checkbox" checked="@getPortBit(5, addressPortB)" @onchange="eventArgs => { changeRamPorts(4, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB6</td>
					<td><input type="checkbox" checked="@getPortBit(6, addressPortB)" @onchange="eventArgs => { changeRamPorts(5, addressPortB, eventArgs.Value);}" /></td>
				</tr>
				<tr>
					<td>RB7</td>
					<td><input type="checkbox" checked="@getPortBit(7, addressPortB)" @onchange="eventArgs => { changeRamPorts(6, addressPortB, eventArgs.Value);}" /></td>
				</tr>
			</tbody>
		</table>


		</div>
		<div class="col">


		@*PortB = 86h*@
		<table id="trisB">
			<thead>
				<tr>
					<th>Tris B</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td><input type="checkbox" checked="@getPortBit(0, addressTrisB)" onclick="return false;" onkeydown="return false;"/></td>
				</tr>
				<tr>
					<td>1</td>
					<td><input type="checkbox" checked="@getPortBit(1, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>2</td>
					<td><input type="checkbox" checked="@getPortBit(2, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>3</td>
					<td><input type="checkbox" checked="@getPortBit(3, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>4</td>
					<td><input type="checkbox" checked="@getPortBit(4, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>5</td>
					<td><input type="checkbox" checked="@getPortBit(5, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>6</td>
					<td><input type="checkbox" checked="@getPortBit(6, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
				<tr>
					<td>7</td>
					<td><input type="checkbox" checked="@getPortBit(7, addressTrisB)" onclick="return false;" onkeydown="return false;" /></td>
				</tr>
			</tbody>
		</table>

			</div>
		</div>

	</div>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
	
	[Parameter] public Programm GeladenesProgramm { get; set; }

	private int addressPortA = 5;
	private int addressPortB = 6;
	private int addressTrisA = 133;
	private int addressTrisB = 134;
	BitArray _inhaltPort;
	
	
		private bool getPortBit(int bit, int address ){

			if(GeladenesProgramm != null)
			{
				_inhaltPort = new BitArray(new int[] {GeladenesProgramm.GetRAMValueUI(address)});
				Console.WriteLine(_inhaltPort[bit]);
				return _inhaltPort[bit];
			}
			return false;
		}



		private void changeRamPorts(int bit, int address, object value)
		{
			if(GeladenesProgramm != null){

			BitArray _inhalt = new BitArray(new int[] {GeladenesProgramm.GetRAMValueUI(address)});

			_inhalt[bit] = (bool)value;

			int portByte = 0;

			for (int i = 0; i < _inhalt.Count; i++)
			{
            if (_inhalt[i])
                portByte += Convert.ToInt32(Math.Pow(2, i));
			}

			GeladenesProgramm.SetRAMValueUI(address, portByte);
			}

		}
}

